<VirtualHost *:80>
    ServerName internal_host_name
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html
    Redirect permanent / https://internal_host_name/
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:8079>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerName internal_host_name
        ServerAdmin webmaster@localhost
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
        LogLevel info
        SSLEngine On
        SSLCertificateFile      /etc/ssl/private/crt_file
        SSLCertificateKeyFile   /etc/ssl/private/key_file
        SSLCertificateChainFile /etc/ssl/private/chain_file
	    ProxyPreserveHost on
	    ProxyPass           /doc    http://localhost:8079/
	    ProxyPassReverse    /doc    http://localhost:8079/
	    ProxyPass           /as     http://internal_host_private_ip:as_port/as
	    ProxyPassReverse    /as     http://internal_host_private_ip:as_port/as
	    ProxyPass           /fns    http://internal_host_private_ip:fns_port/fns
	    ProxyPassReverse    /fns    http://internal_host_private_ip:fns_port/fns
	    ProxyPass           /ras    http://internal_host_private_ip:ras_port/ras
	    ProxyPassReverse    /ras    http://internal_host_private_ip:ras_port/ras
	    ProxyPass           /ms     http://internal_host_private_ip:ms_port/ms
	    ProxyPassReverse    /ms     http://internal_host_private_ip:ms_port/ms
	    ProxyPass           /       http://internal_host_private_ip:gui_port/
	    ProxyPassReverse    /       http://internal_host_private_ip:gui_port/
    </VirtualHost>
</IfModule>
