<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fogbow REST API documentation</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav class="navbar light-green" role="navigation" aria-label="main navigation"></nav>
<section class="section">
    <div class="container">
        <h5 class="subtitle">
            The links below provide the documentation for the Fogbow services available at:<br>
            <br><b>service_host_FQDN</b></br>
        </h5>
        <table>
            <thead>
            <tr>
                <th>
                    <a href="http://service_host_ip:As_port/swagger-ui.html" target="_blank">Authentication service</a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="http://service_host_ip:Ras_port/swagger-ui.html" target="_blank">Resource allocation service</a>
                </th>
            </tr>
            </thead>
        </table>
    </div>
</section>
</body>
</html>
